.matrix-grid {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 15px;
}
input[type="number"] {
  width: 100%;
  color: #1d1d1d;
  border: 1px solid #2b2b2b;
  border-radius: 7px;
  padding: 5px;
  text-align: center;
}
table.matrix {
  border-collapse: collapse;
  margin: 10px auto;
}
table.matrix td {
  border: 1px solid #999;
  padding: 5px 10px;
  text-align: center;
}